.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.about-me {
  background: #1c1d20;
}

/* Section 1 */
.about-me__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 12px;
}

.about-me__intro-text {
  text-transform: uppercase;
  padding: 32px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  color: #fafafa;
  border-radius: 24px;
  background-color: #242527;
  /* min-width: 320px; */
  max-width: 375px;
  height: 500px;
}

.about-me__intro-text .functional {
  color: #ed3b44;
}

.about-me__intro-text .websites {
  color: rgba(250, 250, 250, 0.4);
}

.about-me__intro-image {
  display: flex;
  /* min-width: 320px; */
  max-width: 375px;
  height: 500px;
}

.about-me__intro-image img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}

@media screen and (min-width: 768px) {
  .about-me__intro-text {
    font-size: 38px;
    line-height: 1.05;
    letter-spacing: -0.03em;
    padding: 64px;
    min-width: 704px;
    height: 700px;
  }

  .about-me__intro-image {
    min-width: 704px;
    height: 700px;
  }

  .about-me__intro {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .about-me__intro {
    flex-direction: row;
  }

  .about-me__intro-text {
    min-width: 680px;
  }

  .about-me__intro-image {
    min-width: 680px;
  }

  .about-me__intro {
    margin-bottom: 64px;
  }
}

/* Section 2 */
.accordion {
  padding: 0;
  margin: 0;
}

.accordion__item {
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  padding: 20px 0;
}

.accordion__button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #1c1d20;
  border: none;
  padding: 0 0 12px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}

.accordion__button svg {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 9px;
  width: 36px;
  height: 36px;
  transition: transform 0.25s ease;
}

.accordion__item--active .accordion__button svg {
  transform: rotate(360deg); /* Перевертаємо іконку при активному стані */
}

.open-close {
  width: 18px;
  height: 18px;
}

.accordion__content {
  display: block;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s ease;
}

.accordion__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.accordion__text:not(:last-child) {
  padding-bottom: 32px;
}
.accordion__item--active .accordion__content {
  display: block;
  color: #fafafa;
  max-height: 1000px;
}

.accordion__text__last:not(:last-child) {
  padding-bottom: 10px;
  font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: -0.02em;
}

@media screen and (min-width: 768px) {
  .accordion__text:not(:last-child) {
    padding-bottom: 16px;
  }
  .accordion__item {
    padding: 32px 0;
  }
  .accordion__button {
    padding: 0 0 8px 0;
  }
  .accordion__button svg {
    width: 40px;
    height: 40px;
  }
  .br-fon{
    display: none;
  }
  .open-close {
    width: 20px;
    height: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .accordion__text:not(:last-child) {
    padding-bottom: 32px;
  }
  .accordion__content {
    padding-left: 696px;
  }
  .accordion__text {
    width: 612px;
  }
  .br-fon{
    display: block;
  }
}

/* Section 3 */
.skills-slider {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 55px;
}

.swiper-skills-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
  display: block;
}

.swiper-slide-active .swiper-slide--item {
  background-color: #ed3b44;
}

.swiper-slide--item {
  display: flex;
  border-radius: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  height: 130px;
  border: 1px solid rgba(250, 250, 250, 0.2);
}

.swiper-slide--item-text {
  color: #fafafa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

.skills-swiper-button {
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  width: 28px;
  height: 28px;
}
.icon-right {
  fill: transparent;
  stroke-width: 2px;
  stroke: rgba(250, 250, 250, 0.4);
  width: 28px;
  height: 28px;
  transition: stroke 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .skills-slider {
    margin-top: 64px;
    gap: 64px;
  }
  .skills-swiper-button {
    width: 40px;
    height: 40px;
  }
  .icon-right {
    width: 40px;
    height: 40px;
  }
  .swiper-slide--item {
    height: 200px;
  }
  .swiper-slide--item-text {
    font-size: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .skills-slider {
    margin-top: 72px;
    padding: 32px;
    gap: 72px;
  }
}
