

.benefits {
    background: #1c1d20;
}

.benefits-container {
    display: flex;
    flex-direction: column;
    gap: 32px;

    /*fixed-1*/
    justify-content: space-between;
}

.benefits-title {
    width: 284px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: rgba(250, 250, 250, 0.4);
}


.benef-div {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 32px;
}

.benef-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    width: 90%;

}


.benef-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 64px;
    border-radius: 20px;
    padding: 24px;
    background: #242527;
    width: 100%;
    box-sizing: border-box;
    
    /*fixed-6*/
        width: 344px;
}


.benef-icon {
    border-radius: 10px;
    width: 48px;
    height: 48px;
    background: #ed3b44;
    display: flex;
    align-items: center;
    justify-content: center;
}


.benef-textbox {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    max-width: 296px;
    height: 110px;

}

.benef-item-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #fafafa;
}

.benef-item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.6);
    max-width: 296px;

    /*fixed-5*/
        font-family: "Inter Tight", sans-serif;
}


.benef-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    background-color: #1c1d20;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    padding: 18px 36px;

    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #fafafa;
}

.benef-btn:hover {
    background: #3b3b3b;
}




/** TABLET **/
@media screen and (min-width: 768px) {
    .benef-div {
        gap: 64px;
    }

    .benef-list {
        flex-direction: row;
        flex-wrap: wrap;
        width: 704px;
    }

    .benef-item {
        width: calc((100% - 16px) / 2);
        /**max-width: 344px;
      height: 270px;**/
    }
}

/** DESKTOP **/
@media screen and (min-width: 1440px) {
    .benefits-container {
        flex-direction: row;
        gap: 412px;
    }

   /*fixed-2,3,4*/
  .benef-item {
     max-width: 332px;
          }
    
 .benef-list {
     max-width: 680px;
             }
    
 .benef-textbox {
     max-width: 284px;
          }

}