.container {
    min-width: 320px;
    max-width: 375px;
    padding: 0 16px;
    margin: 0 auto;
  }
  .section{
    margin-bottom: 64px;
  }
  @media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
      padding: 0 32px;
    }
    .section{
      margin-bottom: 96px;
    }
  }
  
  @media screen and (min-width: 1440px) {
    .container {
      max-width: 1440px;
      padding: 0 32px;
    }
    .section{
    margin-bottom: 164px;
    }
  }
 