.footer{
    display: grid;
    gap: 64px;
    max-width: 100%;
    padding: 32px 16px;
    background: #1C1D20;
}
.footer-img{
    width: 44px;
    height: 44px;
}
.footer-span{
    color: #ED3B44;
    display: inline-block;
}
.footer-parag{
    font-family: "Inter Tight", sans-serif;
    color: #FAFAFA;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    vertical-align: middle;
    gap: 4px 8px;
}

.footer-input-one{
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    background: none;
    border: none; 
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
    outline: none;
    margin: 0;
    padding: 0 0 20px 0;
    box-sizing: border-box;
    width: 100%;
    resize: none;
    height: 44px;
    overflow: hidden;
}
.footer-button{
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #FAFAFA;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #ED3B44;
    border: none;
    padding: 0;
    margin: 0;
}
.footer-button:hover,
.footer-button:focus { 
    background: #E0373F;
}
.footer-elements{
    display: flex;
    gap:4px;
    width: 300px;
}
.footer-el{
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    padding: 10px 12px;
    height: 37px;
    text-align: center;
    justify-content: center;
}
.footer-li{
    width: 178px;
}
.footer-list{
    width: 118px;
}
.cont{
    color: #FAFAFA;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    font-family: "Inter Tight", sans-serif;
    height: 17px;
    text-align: center;
    justify-content: center;
    display: flex;
    white-space: nowrap;
}
.footer-cont-email{
    width: 154px;
}
.footer-cont-tel{
    max-width: 94px;
}
.footer-el:hover,
.footer-el:focus,
.footer-el:hover,
.footer-el:focus { 
    border-color: #FAFAFA;
    color: #FAFAFA;
}
.footer-input-one:focus + .form-label,
.footer-input-one:not(:placeholder-shown) + .form-label{
    top: -20px;
    left: 10px;
    font-size: 12px;
}
.form-label{
    position: absolute;
    top: 10px;
    left: 10px; 
    font-size: 16px;
    color: #999;
    transition: all 0.2s ease; 
    pointer-events: none;
}
.form-section {
    position: relative; 
    margin-bottom: 20px; 
}
@media screen and (min-width: 768px) {
    .footer{
        gap: 18px;
        padding: 80px 32px 169px 32px;
    }
    .footer-img{
        width: 70px;
        height: 70px;
    }
    .footer-parag{
        font-size: 64px;
        gap: 7px 20px;
        width: 542px;
    }
    .footer-input{
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
    }
    .footer-input-one{
    width: 245px;
    }
    .form-label{
        top: 44px;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.02em;
        left:0;
        height: 24px;
    }
    .comment{
        width: 73px;
    }
    .client{
        width: 129px;
    }
    .footer-button{
        justify-content: center;
        width: 150px;
        height: 150px;
    }
    .form-section{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
    }
    .footer-elements{
        gap: 8px;
        width: 418px;
    }
    .cont{
        font-size: 16px;
        height: 19px;
    }
    .footer-el{
        padding: 18px 32px;
        height: 55px;
    }
    .footer-li{
        display: flex;
        justify-content: center;
        width: 239px;
    }
    .footer-list{
        display: flex;
        justify-content: center;
        width: 171px;
    }
    .footer-cont-tel{
        max-width: 107px;
    }
    .footer-cont-email{
        width: 175px;
    }
    .footer-input-one:focus + .form-label,
.footer-input-one:not(:placeholder-shown) + .form-label{
    top: 30px;
}
    .input{
        overflow-y: auto;
        transition: overflow-y 0.3s;
        max-height: 200px;
    }
}
@media screen and (min-width: 1440px) {
    .footer{
        padding: 80px 196px 169px 196px;
    }
    .input{
        overflow-y: hidden;
    }
    .footer-input-one{
        width: 390px;
    }
    .footer-button{
    margin-left: 54px;        
    }
    
}