.header {
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 375px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  z-index: 100;
}

.header-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 172px;
  height: 80px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.burger-menu {
  position: absolute;
  top: 0px;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.burger-button {
  fill: #fafafa;
}

.menu-toggle {
  font-size: 16px;
  font-weight: 500;
  color: #fafafa;
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.menu-toggle::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #fafafa;
}

.menu-list {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  color: #fafafa;
  padding: 0;
  margin: 0;
  height: 91px;
  width: 67px;
  display: none;
  z-index: 100;
}
.menu-toggle + .menu-list {
  top: 47px;
}

.menu-list.visible {
  display: block;
}

.menu-list li {
  line-height: 23px;
  letter-spacing: -0.02em;
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-list li:hover,
.menu-list li:focus {
  scale: 1.1;
}

.menu-list a {
  text-decoration: none;
  color: #fafafa;
  text-align: center;
  font-size: 16px;
  display: block;
}

.order-project-btn {
  display: none;
}

.modal-navigation {
  display: none;
}

.order-project-btn {
  position: absolute;
  top: 0;
  right: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 163px;
  height: 55px;
  background-color: #ed3b44;
  color: #fafafa;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.02em;
  border-radius: 27.5px;
  text-align: center;
  border: none;
  cursor: pointer;
  z-index: 10;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: none;
}

.order-project-btn:hover,
.order-project-btn:focus {
  background: #e0373f;
}
.modal-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-image: url('../../img/header/modal-effect.png'),
    url('../../img/header/modal-effect@2x.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transform: scale(0.8);
  pointer-events: none;
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-navigation.active {
  display: flex;
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.modal-thumb {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 375px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-navigation ul {
  background-color: transparent;
  /* padding: 20px;
  border-radius: 10px; */
  width: 67px;
  height: 112px;
  position: absolute;
  /* bottom: auto;
  top: auto; */
  top: 37.2%;
  left: 50%;
  transform: translateX(-50%);
}
.modal-menu {
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.02em;
  font-weight: 500;
  color: #fafafa;
  line-height: 29px;
}

.modal-menu li a {
  position: relative;
  display: inline-block;
}

.modal-menu li a::after {
  content: '';
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fafafa;
}

.close-button {
  position: absolute;
  top: 32px;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.close-button svg {
  fill: #fafafa;
}

.modal-order-btn {
  position: absolute;
  bottom: 64px;
  left: 50%;
  transform: translateX(-50%);
  width: 164px;
  height: 45px;
  background-color: #ed3b44;
  color: #fafafa;
  font-family: 'Inter Tight', sans-serif;
  font-size: 14px;
  font-weight: medium;
  letter-spacing: -0.02em;
  border: none;
  border-radius: 27.5px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 768px;
  }
  .burger-menu {
    display: none;
  }
  .menu-toggle {
    display: inline-block;
  }
  .order-project-btn {
    display: flex;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    min-width: 1440px;
  }
}
