.section-background {
  background-image: url(../../img/hero/bg-mob-1x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
  max-width: 1440px;
  padding: 281px 0px 32px;
}
@media screen and (-webkit-min-device-pixel-radio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .section-background {
    background-image: url(../../img/hero/bg-mob-2x.png);
  }
}
.title-section {
}
.title {
  /* font-family: 'Inter Tight', sans-serif; */
  font-family: 'Inter';
  font-weight: 500;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
  margin-bottom: 212px;
}
.contact-section {
}
.contact-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 4px;
}
.contact-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  width: 37px;
  height: 37px;
}
.scale {
  transition: transform 0.5s ease;
}
.scale:hover {
  transform: scale(1.1);
}
.item-mail {
  width: 178px;
  height: 37px;
  transition: transform 0.5s ease;
}
.item-mail:hover {
  transform: scale(1.05);
}
.text {
  /* font-family: 'Inter Tight', sans-serif; */
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
}
/*------------------------------------------------------------*/

@media screen and (min-width: 768px) {
  .section-background {
    background-image: url(../../img/hero/bg-tablet-1x.png);
    padding: 300px 0px 32px;
  }
  @media screen and (-webkit-min-device-pixel-radio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .section-background {
      background-image: url(../../img/hero/bg-tablet-2x.png);
    }
  }
  .title {
    max-width: 632px;
    font-size: 90px;
    margin-bottom: 187px;
  }
  .contact-list {
    justify-content: flex-end;
  }
  .text {
    font-size: 16px;
  }
  .contact-item {
    width: 55px;
    height: 55px;
  }
  .item-mail {
    width: 223px;
    height: 55px;
  }
  .contact-list {
    gap: 8px;
  }
}

/*--------------------------------------------------------*/
@media screen and (min-width: 1440px) {
  .section-background {
    background-image: url(../../img/hero/bg-desktop-1x.png);
  }
  @media screen and (-webkit-min-device-pixel-radio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .section-background {
      background-image: url(../../img/hero/bg-desktop-2x.png);
    }
  }
  .section-background {
    margin: 0 auto;
  }
  .title {
    max-width: 1084px;
    margin: 0px auto 243px;
  }
}
