body{
    background-color:  #1c1d20;
}

li{
    list-style: none;
}
.name-section{
font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: -0.02em;
color: rgba(250, 250, 250, 0.4);
margin-bottom: 32px;
}
.glush-reviews{
    font-weight: 600;
    font-size: 30px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    margin-top: 80px;
    text-align: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.4);
}
/*  */
.swiper-wrapper{
    display: flex; 
    max-width: 1376px;
    box-sizing: border-box;
    height: 458px;
}
.author-item-img{
    border-radius: 10px;
    width: 48px;
    height: 48px;
    margin-bottom: 32px;
}
.author-name{
    font-weight: 600;
font-size: 20px;
line-height: 1.5;
letter-spacing: -0.02em;
color: #fafafa;
margin-bottom: 8px;
}
.list-item{
border: 1px solid rgba(250, 250, 250, 0.2);
border-radius: 20px;
width: 343px;
height: 302px;
margin-right: 16px;
padding: 32px 24px ;
}
.reviews-descreiption{
width: 295px;
max-height:120px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: -0.02em;
color: rgba(250, 250, 250, 0.6);
overflow: auto; 
text-overflow: ellipsis; 
overflow-y: auto; 
overflow-x: hidden; 
scrollbar-width:thin; 
scrollbar-color: rgba(255, 255, 255, 0.4) rgba(30, 30, 30, 0.8); 
font-family: "Inter Tight", sans-serif;
}
@media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
      padding: 0 32px;
    }
    .list-item{
    width: 344px; 
    }
    .reviews-descreiption{
    width: 296px;
    }
  }
  @media screen and (min-width: 1440px) {
    .container {
      max-width: 1440px;
      padding: 0 32px;
    }
    /* .list-item.list-item:nth-last-child(-n+2) {
        display: none;
      }
      .list-item:nth-child(4n) {
        margin-right: 0; 
      }
      .list-item:nth-last-child(-n+3) {
        display: block;
      } */
    .list-item{
    width: 332px;
    }
    .reviews-descreiption{
       width: 284px; 
    }
  }