body{
    background-color:  #1c1d20;
}
.projects-arrows {
  margin-top: 32px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}
.swiper-button-teg {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(250, 250, 250, 0.5);
    border-radius: 60px;
    padding: 14px;
    width: 52px;
    height: 52px;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.swiper-prev-buttonn {
    transform: rotate(-180deg);
}

.swiper-button-teg:disabled{
    border-color: rgba(250, 250, 250, 0.2);
}

.swiper-arrow-right {
    fill: transparent;
    stroke-width: 2px;
    stroke: #fafafa;
    width: 24px;
    height: 24px;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.swiper-button-teg:disabled .swiper-arrow-right {
    stroke: #3b3b3b;
}
.name-section{
font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: -0.02em;
color: rgba(250, 250, 250, 0.4);
margin-bottom: 32px;
}
.glush-reviews{
    font-weight: 600;
    font-size: 30px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    margin-top: 80px;
    text-align: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.4);
}
.swiper-wrapper .swiper-wrapper-reviews {
    display: flex; 
    max-width: 1376px;
    box-sizing: border-box;
    height:402px;
}
.author-item-img{
    border-radius: 10px;
    width: 48px;
    height: 48px;
    margin-bottom: 32px;
}
.author-name{
    font-weight: 600;
font-size: 20px;
line-height: 1.5;
letter-spacing: -0.02em;
color: #fafafa;
margin-bottom: 8px;
}
.list-item{
max-width: 343px;
width: 100%;
border: 1px solid rgba(250, 250, 250, 0.2);
border-radius: 20px;
height: 302px;
height: 100%;
margin-right: 0;
padding: 32px 24px ;
}
.reviews-descreiption{
max-width: 295px; 
width: 100%;
height: 120px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: -0.02em;
color: rgba(250, 250, 250, 0.6);
overflow: hidden; 
 text-overflow: ellipsis; 
overflow-y: auto; 
overflow-x: hidden; 
scrollbar-width:thin; 
scrollbar-color: rgba(255, 255, 255, 0.4) rgba(30, 30, 30, 0.8);  
font-family: "Inter Tight", sans-serif;
}
@media screen and (min-width: 768px) {
    .list-item{
    max-width: 344px; 
    width: 100%;
    }
    .reviews-descreiption{
    width: 296px;
    }
    .swiper-button-teg {
      width: 68px;
      height: 68px;
  }
  .swiper-arrow-right {
    width: 32px;
    height: 32px;
}
  }
  @media screen and (min-width: 1440px) {
    .list-item{
    max-width: 332px;
    width: 100%;
    max-height: 302px;
    box-sizing: border-box;
    }
    .reviews-descreiption{
       width: 284px; 
    }
  

}