<!-- 
<section>
  <div class="container div">
    <h1>up</h1>
  </div>
</section> -->





<section class="covers-section">
    <div class="container container_covers">
        <h2 hidden class="visually-hidden ">Covers</h2>
    
      <div class="covers js-covers">
        <ul class="covers__inner   js-covers__inner">
              <li class="covers__line">
             <img class="covers__img" 
              srcset="../img/covers/first-screen-1.jpg 1x, ../img/covers/first-screen-1-2x.jpg 2x"
              src="../img/covers/first-screen-1.jpg" alt="first-screen-1">
              </li>
              <li class="covers__line">
              <img class="covers__img" 
               srcset="../img/covers/rectangle-4.jpg 1x, ../img/covers/rectangle-4-2x.jpg 2x"
               src="../img/covers/rectangle-4.jpg" alt="rectangle-4">
               </li>
               <li class="covers__line">
                <img class="covers__img" 
                 srcset="../img/covers/rectangle-5.jpg 1x, ../img/covers/rectangle-5-2x.jpg 2x"
                 src="../img/covers/rectangle-5.jpg" alt="rectangle-5">
                 </li>
                 <li class="covers__line">
                  <img class="covers__img"
                   srcset="../img/covers/rectangle-6.jpg 1x, ../img/covers/rectangle-6-2x.jpg 2x"
                   src="../img/covers/rectangle-6.jpg" alt="rectangle-6">
                </li>
                <li class="covers__line">
                  <img class="covers__img" 
                   srcset="../img/covers/rectangle-7.jpg 1x, ../img/covers/rectangle-7-2x.jpg 2x"
                   src="../img/covers/rectangle-7.jpg" alt="rectangle-7">
                </li>
                <li class="covers__line">
                  <img class="covers__img" 
                   srcset="../img/covers/rectangle-8.jpg 1x, ../img/covers/rectangle-8-2x.jpg 2x"
                   src="../img/covers/rectangle-8.jpg" alt="rectangle-8">
                </li>
                <li class="covers__line">
                  <img class="covers__img" 
                   srcset="../img/covers/rectangle-9.jpg 1x, ../img/covers/rectangle-9-2x.jpg 2x"
                   src="../img/covers/rectangle-9.jpg" alt="rectangle-9">
                </li>
                <li class="covers__line">
                  <img class="covers__img"
                   srcset="../img/covers/rectangle-10.jpg 1x, ../img/covers/rectangle-10-2x.jpg 2x"
                   src="../img/covers/rectangle-10.jpg" alt="rectangle-10">
                </li>
                <li class="covers__line">
                  <img class="covers__img" 
                   srcset="../img/covers/rectangle-11.jpg 1x, ../img/covers/rectangle-11-2x.jpg 2x"
                   src="../img/covers/rectangle-11.jpg" alt="rectangle-11">
                </li>
                <li class="covers__line">
                  <img class="covers__img" 
                   srcset="../img/covers/rectangle-12.jpg 1x, ../img/covers/rectangle-12-2x.jpg 2x"
                   src="../img/covers/rectangle-12.jpg" alt="rectangle-12">
                </li>
                </ul>
    
    
    
                <ul class="covers__inner js-covers__inner">
                  <li class="covers__line">
                 <img class="covers__img" 
                  srcset="../img/covers/rectangle-10.jpg 1x, ../img/covers/rectangle-10-2x.jpg 2x"
                  src="../img/covers/rectangle-10.jpg" alt="rectangle-10">
                  </li>
                  <li class="covers__line">
                  <img class="covers__img" 
                   srcset="../img/covers/rectangle-8.jpg 1x, ../img/covers/rectangle-8-2x.jpg 2x"
                   src="../img/covers/rectangle-8.jpg" alt="rectangle-8">
                   </li>
                   <li class="covers__line">
                    <img class="covers__img" 
                     srcset="../img/covers/rectangle-9.jpg 1x, ../img/covers/rectangle-9-2x.jpg 2x"
                     src="../img/covers/rectangle-9.jpg" alt="rectangle-9">
                     </li>
                     <li class="covers__line">
                      <img class="covers__img" 
                       srcset="../img/covers/rectangle-12.jpg 1x, ../img/covers/rectangle-12-2x.jpg 2x"
                       src="../img/covers/rectangle-12.jpg" alt="rectangle-12">
                    </li>
                    <li class="covers__line">
                      <img class="covers__img" 
                       srcset="../img/covers/first-screen-1.jpg 1x, ../img/covers/first-screen-1-2x.jpg 2x"
                       src="../img/covers/first-screen-1.jpg" alt="first-screen-1">
                    </li>
                    <li class="covers__line">
                      <img class="covers__img" 
                       srcset="../img/covers/rectangle-6.jpg 1x, ../img/covers/rectangle-6-2x.jpg 2x"
                       src="../img/covers/rectangle-6.jpg" alt="rectangle-6">
                    </li>
                    <li class="covers__line">
                      <img class="covers__img" 
                       srcset="../img/covers/rectangle-4.jpg 1x, ../img/covers/rectangle-4-2x.jpg 2x"
                       src="../img/covers/rectangle-4.jpg" alt="rectangle-4">
                    </li>
                    <li class="covers__line">
                      <img class="covers__img" 
                       srcset="../img/covers/rectangle-11.jpg 1x, ../img/covers/rectangle-11-2x.jpg 2x"
                       src="../img/covers/rectangle-11.jpg" alt="rectangle-11">
                    </li>
                    <li class="covers__line">
                      <img class="covers__img" 
                       srcset="../img/covers/rectangle-7.jpg 1x, ../img/covers/rectangle-7-2x.jpg 2x"
                       src="../img/covers/rectangle-7.jpg" alt="rectangle-7">
                    </li>
                    <li class="covers__line">
                      <img class="covers__img" 
                       srcset="../img/covers/rectangle-5.jpg 1x, ../img/covers/rectangle-5-2x.jpg 2x"
                       src="../img/covers/rectangle-5.jpg" alt="rectangle-5">
                    </li>
                    </ul>
    
    
    
    
                    
                <ul class="covers__inner js-covers__inner">
                  <li class="covers__line">
                 <img class="covers__img" 
                  srcset="../img/covers/rectangle-12.jpg 1x, ../img/covers/rectangle-12.jpg 2x"
                  src="../img/covers/rectangle-12.jpg" alt="rectangle-12">
                  </li>
                  <li class="covers__line">
                  <img class="covers__img" 
                   srcset="../img/covers/rectangle-11.jpg 1x, ../img/covers/rectangle-11-2x.jpg 2x"
                   src="../img/covers/rectangle-11.jpg" alt="rectangle-11">
                   </li>
                   <li class="covers__line">
                    <img class="covers__img" 
                     srcset="../img/covers/rectangle-10.jpg 1x, ../img/covers/rectangle-10-2x.jpg 2x"
                     src="../img/covers/rectangle-10.jpg" alt="rectangle-10">
                     </li>
                     <li class="covers__line">
                      <img class="covers__img" 
                       srcset="../img/covers/rectangle-9.jpg 1x, ../img/covers/rectangle-9-2x.jpg 2x"
                       src="../img/covers/rectangle-9.jpg" alt="rectangle-9">
                    </li>
                    <li class="covers__line">
                      <img class="covers__img" 
                       srcset="../img/covers/rectangle-8.jpg 1x, ../img/covers/rectangle-8-2x.jpg 2x"
                       src="../img/covers/rectangle-8.jpg" alt="rectangle-8">
                    </li>
                    <li class="covers__line">
                      <img class="covers__img" 
                       srcset="../img/covers/rectangle-7.jpg 1x, ../img/covers/rectangle-7-2x.jpg 2x"
                       src="../img/covers/rectangle-7.jpg" alt="rectangle-7">
                    </li>
                    <li class="covers__line">
                      <img class="covers__img" 
                       srcset="../img/covers/rectangle-6.jpg 1x, ../img/covers/rectangle-6-2x.jpg 2x"
                       src="../img/covers/rectangle-6.jpg" alt="rectangle-6">
                    </li>
                    <li class="covers__line">
                      <img class="covers__img" 
                       srcset="../img/covers/rectangle-5.jpg 1x, ../img/covers/rectangle-5-2x.jpg 2x"
                       src="../img/covers/rectangle-5.jpg" alt="rectangle-5">
                    </li>
                    <li class="covers__line">
                      <img class="covers__img" 
                       srcset="../img/covers/rectangle-4.jpg 1x, ../img/covers/rectangle-4-2x.jpg 2x"
                       src="../img/covers/rectangle-4.jpg" alt="rectangle-4">
                    </li>
                    <li class="covers__line">
                      <img class="covers__img"
                       srcset="../img/covers/first-screen-1.jpg 1x, ../img/covers/first-screen-1-2x.jpg 2x"
                       src="../img/covers/rfirst-screen-1.jpg" alt="first-screen-1">
                    </li>
                    </ul>
                 </div>
               </div>
        </div>
    </section>

<!-- 
    <section>
      <div class="container div">
        <h1>down</h1>
      </div>
    </section> 
  -->