<footer class="footer">
<div class="footer-title">
    <h2 class="footer-parag"><img srcset="../img/footer/image-x2.png 2x" src="../img/footer/image-x1.png" alt="jefferson" class="footer-img">
    Let’s <span class="footer-span"> work </span>together</h2>
</div>
    <form class="footer-input">
        <section class="form-section"> 
            <input type="email" id="email" name="email" class="footer-input-one" placeholder=" " required> 
            <label for="email" class="form-label client">clients@gmail.com</label>
        </section> 
        <section class="form-section">
            <textarea id="comment" name="comment" class="footer-input-one input" placeholder=" " required></textarea> 
            <label for="comment" class="form-label comment">comments</label>
        </section>
    <button type="submit" class="footer-button">Send</button>
    </form>
<div class="footer-cont">
    <ul class="footer-elements">
        <li class="footer-el footer-li"><a href="email:lloydjefferson@gmail.com" class="footer-cont-email cont" type="email">lloydjefferson@gmail.com</a></li>
        <li class="footer-el footer-list"><a href="tel: +3801111111111" class="footer-cont-tel cont" type="tel">+380 11 1111 11 11</a></li>
    </ul>
</div>
</footer>