<section class="section-background">
  <div class="container">
    <h1 class="title">
      Hello. <br />
      I’m Fullstack developer<br />
      Lloyd Jefferson.
    </h1>

    <ul class="contact-list">
      <li class="contact-item scale">
        <a
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          class="text"
          >IG</a
        >
      </li>
      <li class="contact-item scale">
        <a
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          class="text"
          >FB</a
        >
      </li>
      <li class="contact-item scale">
        <a href="https://www.youtube.com/c/GoIT" target="_blank" class="text"
          >YT</a
        >
      </li>
      <li class="contact-item scale">
        <a
          href="https://github.com/Oleg44354354215/Tech-team"
          target="_blank"
          class="text"
          >GH</a
        >
      </li>
      <li class="contact-item item-mail">
        <a href="mailto:lloydjefferson@gmail.com" class="text"
          >lloydjefferson@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section>
