<section class="section section-reviews">
  <div class="container">
    <div class="swiper">
      <h2 class="name-section">REVIEWS</h2>
      <ul class="swiper-wrapper swiper-wrapper-reviews"></ul>
      <div class="projects-arrows">
        <button type="button" class="swiper-button-teg swiper-prev-buttonn">
          <svg class="swiper-arrow-right" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>
        <button type="button" class="swiper-button-teg swiper-next-buttonn">
          <svg class="swiper-arrow-right" width="24" height="24">
            <use href="./img/sprite.svg#icon-arrow-narrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
