/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./partials/reset.css');
@import url('./partials/base.css');
@import url('./partials/container.css');


/* Sections style */
@import url('./partials/header.css');
@import url('./partials/hero.css');
@import url('./partials/about-me.css');
@import url('./partials/benefits.css');
@import url('./partials/projects.css');
@import url('./partials/faq.css');
@import url('./partials/covers.css');
@import url('./partials/reviews.css');
@import url('./partials/footer.css');
@import url('./partials/scroll-up.css');
@import url('./partials/pict-img.css');

